<div class="main-container">
  <div class="header-container">
    <p class="h1">Crear/Editar "Equipo"</p>
  </div>
  <div class="form-container">
    <form>
      <div class="form-group row">
        <label for="Nombre" class="offset-md-3 col-2 col-form-label"
          >Nombre</label
        >
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="Nombre"
            placeholder="Nombre"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="Capitan" class="offset-md-3 col-2 col-form-label"
          >Capitan</label
        >
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="capitan"
            placeholder="Capitan"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="TelefonoContacto" class="offset-md-3 col-2 col-form-label"
          >Telefono Contacto</label
        >
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="telefonoContacto"
            placeholder="TelefonoContacto"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="Comentarios" class="offset-md-3 col-2 col-form-label"
          >Comentarios</label
        >
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="comentarios"
            placeholder="Comentarios"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="Liga" class="offset-md-3 col-2 col-form-label">Liga</label>
        <div class="col-3">
          <select id="ligas" class="form-control">
            <option selected>Selecciona Liga...</option>
            <option>Sabatina</option>
            <option>Masculina Semanal</option>
            <option>Femenina Semanal</option>
            <option>Femenina Fin de Semana</option>
            <option>Masculina Semanal</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-md-5 col-3">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-danger">Borrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
