.main-container {
    padding-left: 200px;
    padding-right: 200px;
  }
  .header-container {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .filters-container{
    padding-left: 50px;
    padding-right: 50px;
}