<div class="main-container">
  <div class="header-container">
    <p class="h1">{{ title }}</p>
  </div>
  <div class="form-container">
    <div
      *ngIf="isSuccess"
      class="alert alert-success text-center"
      role="alert"
    >
      {{ successMsg }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      *ngIf="isError"
      class="alert alert-danger text-center"
      role="alert"
    >
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ errors }}
    </div>
    <form #jornadaForm="ngForm" (ngSubmit)="saveJornada(); jornadaForm.reset()" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            id="Descripcion"
            placeholder="Descripcion"
            #descripcion="ngModel"
            [(ngModel)]="jornada.descripcion"
            name="descripcion"
            required
            minlength="5"
            [ngClass]="
              descripcion.invalid && descripcion.touched ? 'invalid-input' : ''
            "
          />
          <div
            *ngIf="descripcion.invalid && descripcion.touched"
            class="invalid-value"
          >
            Descripcion es Obligatoria, Minimo 5 Caracteres
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="Liga">Liga</label>
          <select
            id="ligas"
            class="form-control"
            #liga="ngModel"
            [(ngModel)]="jornada.ligaId"
            name="liga"
            required
            [ngClass]="liga.invalid && liga.touched ? 'invalid-input' : ''"
          >
            <option value="" selected>Selecciona Liga...</option>
            <option
              *ngFor="let liga of ligas; let i = index"
              value="{{ liga.id }}"
            >
              {{ liga.nombre }}
            </option>
          </select>
          <div *ngIf="liga.invalid && liga.touched" class="invalid-value">
            Liga es Obligatoria
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group offset-md-1 col-md-3">
          <label for="FechaInicio">Fecha Inicio</label>
        </div>
        <div class="form-group offset-md-3 col-md-3">
          <label for="FechaInicio">Fecha Final</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group offset-md-1 col-md-3">
          <ngb-datepicker
            #fechaInicio
            [(ngModel)]="jornada.fechaInicioStrc"
            [startDate]="jornada.fechaInicioStrc"
            name="fechaInicio"
            required
          ></ngb-datepicker>
        </div>
        <div class="form-group  offset-md-3 col-md-3">
          <ngb-datepicker
            #fechaFinal
            [(ngModel)]="jornada.fechaFinalStrc"
            [startDate]="jornada.fechaFinalStrc"
            name="fechaFinal"
            required
          ></ngb-datepicker>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-md-5 col-3">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!jornadaForm.form.valid"
            >
              <i class="far fa-save"></i> Guardar
            </button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" (click)="deleteJornada()" class="btn btn-danger">
              <i class="far fa-trash-alt"></i> Borrar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
