<div class="main-container">
  <div class="header-container">
    <p class="h1">Crear/Editar "Jornada"</p>
  </div>
  <div class="form-container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            id="Descripcion"
            placeholder="Descripcion"
          />
        </div>

        <div class="form-group col-md-6">
          <label for="Liga">Liga</label>
          <select id="ligas" class="form-control">
            <option selected>Selecciona Liga...</option>
            <option>Sabatina</option>
            <option>Masculina Semanal</option>
            <option>Femenina Semanal</option>
            <option>Femenina Fin de Semana</option>
            <option>Masculina Semanal</option>
          </select>
        </div>
      </div>
      <div class="form-row">
            <div class="form-group offset-md-1 col-md-3">
              <label for="FechaInicio">Fecha Inicio</label>
            </div>
            <div class="form-group offset-md-3 col-md-3">
              <label for="FechaInicio">Fecha Inicio</label>
            </div>
    </div>
      <div class="form-row">
        <div class="form-group offset-md-1 col-md-3">
          <ngb-datepicker #d></ngb-datepicker>
        </div>
        <div class="form-group  offset-md-3 col-md-3">
          <ngb-datepicker #d></ngb-datepicker>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-md-5 col-3">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Guardar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i> Borrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
