<div class="main-container">
  <div class="header-container">
    <p class="h2">{{title}}</p>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ titleDrp }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
            *ngFor="let liga of ligas; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getTablaGeneralByLiga(liga.id)"
          >
            {{ liga.nombre }}
          </button>
        </div>
      </div>
    </div>
    <div class="input-group">
      <a href="" class="download-btn">
        <button type="button" class="btn btn-success">
          <i class="fas fa-download"></i> Excel
        </button>
      </a>
      <a href="" class="download-btn">
        <button type="button" class="btn btn-secondary">
          <i class="fas fa-download"></i> PDF
        </button>
      </a>
    </div>
  </div>
  <div id="tabla-general-container" class="table-responsive">
    <table class="table table-sm table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipos</th>
          <th scope="col">J.J.</th>
          <th scope="col">J.G.</th>
          <th scope="col">J.E.</th>
          <th scope="col">J.P.</th>
          <th scope="col">G.F</th>
          <th scope="col">G.C</th>
          <th scope="col">D.G.</th>
          <th scope="col">EXT</th>
          <th scope="col">PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of tablaGeneral; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <a href="" [routerLink]="['/partido-equipo', equipo.equipoId]">{{
              equipo.equipo.nombre
            }}</a>
          </td>
          <td>{{ equipo.juegosJugados }}</td>
          <td>{{ equipo.juegosGanados }}</td>
          <td>{{ equipo.juegosEmpatados }}</td>
          <td>{{ equipo.juegosPerdidos }}</td>
          <td>{{ equipo.golesAFavor }}</td>
          <td>{{ equipo.golesEnContra }}</td>
          <td>{{ equipo.diferenciaGoles }}</td>
          <td>{{ equipo.extra }}</td>
          <td>{{ equipo.puntos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
