<div class="main-container">
  <div class="header-container">
    <p class="h1">Liga Sabatina</p>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group" role="group" aria-label="First group"></div>
    <div class="input-group">
      <a href="" class="download-btn">
        <button type="button" class="btn btn-success">Excel</button>
      </a>
      <a href="" class="download-btn">
        <button type="button" class="btn btn-secondary">PDF</button>
      </a>
    </div>
  </div>
  <div id="tabla-general-container" class="table-responsive">
    <table class="table table-sm table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipos</th>
          <th scope="col">J.J.</th>
          <th scope="col">J.G.</th>
          <th scope="col">J.E.</th>
          <th scope="col">J.P.</th>
          <th scope="col">G.F</th>
          <th scope="col">G.C</th>
          <th scope="col">D.G.</th>
          <th scope="col">EXT</th>
          <th scope="col">PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of tablaGeneral; let i = index">
          <th scope="row">{{ equipo.Id }}</th>
          <td>
            <a href="" [routerLink]="['/jugador', equipo.Id]">{{
              equipo.Equipo
            }}</a>
          </td>
          <td>{{ equipo.JuegosJugados }}</td>
          <td>{{ equipo.JuegosGanados }}</td>
          <td>{{ equipo.JuegosEmpatados }}</td>
          <td>{{ equipo.JuegosPerdidos }}</td>
          <td>{{ equipo.GolesAFavor }}</td>
          <td>{{ equipo.GolesEnContra }}</td>
          <td>{{ equipo.DiferenciaGoles }}</td>
          <td>{{ equipo.Extra }}</td>
          <td>{{ equipo.Puntos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
