<app-navigation></app-navigation>
<div class="main-container">
  <div class="header-container">
    <p class="h2">{{ title }}</p>
    <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
      {{ errorMsg }}
      <button
        type="button"
        class="close"
        (click)="isError = false"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container download-btn"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ titleDrp }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
            *ngFor="let liga of ligas; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getTablaGeneralByLiga(liga.id)"
          >
            {{ liga.nombre }}
          </button>
        </div>
      </div>
    </div>
    <div class="input-group">
<!--    <a href="" class="download-btn">
        <button type="button" class="btn btn-success">
          <i class="fas fa-download"></i> Excel
        </button>
      </a> -->
      <button type="button" (click)="generatePdf()" [disabled]="ligaId === 0 || tablaGeneral.length === 0" class="btn btn-secondary">
       <span *ngIf="!isLoadingFile"><i class="fas fa-download"></i> PDF </span> 
       <span *ngIf="isLoadingFile" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
       <span *ngIf="isLoadingFile">  Loading...</span> 
      </button>
    </div>
  </div>
  <div class="text-center">
    <div *ngIf="isLoading" class="spinner-border text-secondary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="tablaGeneral.length > 0 && !isLoading" id="tabla-general-container" class="table-responsive">
    <table class="table table-sm table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipos</th>
          <th scope="col">J.J.</th>
          <th scope="col">J.G.</th>
          <th scope="col">J.E.</th>
          <th scope="col">J.P.</th>
          <th scope="col">G.F</th>
          <th scope="col">G.C</th>
          <th scope="col">D.G.</th>
          <th scope="col">EXT</th>
          <th scope="col">PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of tablaGeneral; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <a href="" [routerLink]="['/partido-equipo', equipo.equipoId]">{{
              equipo.equipo.nombre
            }}</a>
          </td>
          <td>{{ equipo.juegosJugados }}</td>
          <td>{{ equipo.juegosGanados }}</td>
          <td>{{ equipo.juegosEmpatados }}</td>
          <td>{{ equipo.juegosPerdidos }}</td>
          <td>{{ equipo.golesAFavor }}</td>
          <td>{{ equipo.golesEnContra }}</td>
          <td>{{ equipo.diferenciaGoles }}</td>
          <td>{{ equipo.extra }}</td>
          <td>{{ equipo.puntos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
