.main-container{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.header-container{
    padding: 15px;
}
.download-btn{
    padding-right: 15px;
    padding-bottom: 10px;
}