<div class="main-container">
  <div class="header-container">
    <p class="h1">{{ title }}</p>
  </div>
  <div class="form-container">
    <div *ngIf="isSuccess" class="alert alert-success text-center" role="alert">
      {{ successMsg }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ errors }}
    </div>
    <form
      #partidoForm="ngForm"
      (ngSubmit)="savePartido();"
      novalidate
    >
      <div class="form-row">
        <div class="offset-md-1 col-md-4 mb-3 text-center">
          <label for="Liga">Liga</label>
          <select
            id="ligas"
            class="form-control"
            #liga="ngModel"
            [(ngModel)]="partido.jornada.ligaId"
            name="liga"
            required
            [ngClass]="liga.invalid && liga.touched ? 'invalid-input' : ''"
            (change)="getInfoByLiga($event.target.value)"
          >
            <option value="" selected>Selecciona Liga...</option>
            <option
              *ngFor="let liga of ligas; let i = index"
              value="{{ liga.id }}"
            >
              {{ liga.nombre }}
            </option>
          </select>
          <div *ngIf="liga.invalid && liga.touched" class="invalid-value">
            Liga es Obligatoria
          </div>
        </div>
        <div class="col-md-2 mb-3 text-center"></div>
        <div class="col-md-4 mb-3 text-center">
          <label for="Jornada">Jornada</label>
          <select
            id="jornadas"
            class="form-control"
            #jornada="ngModel"
            [(ngModel)]="partido.jornadaId"
            name="jornada"
            required
            [ngClass]="
              jornada.invalid && jornada.touched ? 'invalid-input' : ''
            "
          >
            <option value="" selected>Selecciona Jornada...</option>
            <option
              *ngFor="let jornada of jornadasByLiga; let i = index"
              value="{{ jornada.id }}"
            >
              {{ jornada.descripcion }}
            </option>
          </select>
          <div *ngIf="jornada.invalid && jornada.touched" class="invalid-value">
            Jornada es Obligatoria
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="offset-md-1 col-md-4 mb-3 text-center">
          <label for="Equipo1">Equipo 1</label>
          <select
            class="form-control"
            id="Equipo1"
            #equipo1="ngModel"
            [(ngModel)]="partido.equipo1Id"
            name="equipo1"
            required
            [ngClass]="
              equipo1.invalid && equipo1.touched ? 'invalid-input' : ''
            "
          >
            <option value="">Selecciona Equipo 1</option>
            <option
              *ngFor="let equipo of equiposByLiga; let i = index"
              value="{{ equipo.id }}"
            >
              {{ equipo.nombre }}
            </option>
          </select>
          <div *ngIf="equipo1.invalid && equipo1.touched" class="invalid-value">
            Equipo 1 es Obligatorio
          </div>
        </div>
        <div class="col-md-2 mb-3 text-center">
          <label for="vs">vs</label>
        </div>
        <div class="col-md-4 mb-3 text-center">
          <label for="Equipo2">Equipo 2</label>
          <select
            class="form-control"
            id="Equipo2"
            #equipo2="ngModel"
            [(ngModel)]="partido.equipo2Id"
            name="equipo2"
            required
            [ngClass]="
              equipo2.invalid && equipo2.touched ? 'invalid-input' : ''
            "
          >
            <option value="">Selecciona Equipo2</option>
            <option
              *ngFor="let equipo of equiposByLiga; let i = index"
              value="{{ equipo.id }}"
            >
              {{ equipo.nombre }}
            </option>
          </select>
          <div *ngIf="equipo2.invalid && equipo2.touched" class="invalid-value">
            Equipo 2 es Obligatorio
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="offset-md-1 col-md-4 text-center">
          <label for="Liga">Fecha de Juego</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="partido.fechaJuegoStrc"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              >
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2 text-center"></div>
        <div class="col-md-4 text-center">
          <label for="Liga">Hora de Juego</label>
          <input
            class="form-control"
            type="time"
            [(ngModel)]="partido.horaJuego"
            id="horaJuego"
            name="horaJuego"
            min="01:00"
            max="23:59"
          />
        </div>
      </div>
      <div *ngIf="partidoId != 0" class="form-row checkbox-row">
        <div class="offset-md-1 col-md-4 mb-3 text-center">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="EquipoGanador1"
              value="Equipo1"
              [(ngModel)]="partido.isGanador1"
              name="equipoGanador1"
              [checked]="partido.isGanador1"
              [disabled]="partido.isGanador2 || partido.empate"
            />
            <label class="form-check-label" for="EquipoGanador1">Ganador</label>
          </div>
        </div>
        <div class="col-md-2 mb-3 text-center">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="Empate"
              value="Empate"
              [(ngModel)]="partido.empate"
              name="empate"
              (click)="empateReset()"
              [disabled]="partido.isGanador1 || partido.isGanador2"
            />
            <label class="form-check-label" for="Empate">Empate</label>
          </div>
        </div>
        <div class="col-md-4 mb-3 text-center">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="GanadorEquipo2"
              value="Equipo2"
              [(ngModel)]="partido.isGanador2"
              name="equipoGanador2"
              [checked]="partido.isGanador2"
              [disabled]="partido.isGanador1 || partido.empate"
            />
            <label class="form-check-label" for="inlineCheckbox3"
              >Ganador</label
            >
          </div>
        </div>
      </div>
<!--       <div *ngIf="partidoId != 0" class="form-row">
        <div class="offset-md-1 col-md-4 mb-3 text-center">
          <label for="GolesEquipo1">Goles</label>
          <input
            type="text"
            class="form-control"
            id="GolesEquipo1"
            placeholder="Goles Equipo 1"
            #golesEquipo1="ngModel"
            [(ngModel)]="partido.golesEquipo1"
            name="golesEquipo1"
          />
        </div>
        <div class="col-md-2 mb-3 text-center"></div>
        <div class="col-md-4 mb-3 text-center">
          <label for="GolesEquipo2">Goles</label>
          <input
            type="text"
            class="form-control"
            id="GolesEquipo2"
            placeholder="Goles Equipo 2"
            #golesEquipo2="ngModel"
            [(ngModel)]="partido.golesEquipo2"
            name="golesEquipo2"
          />
        </div>
      </div> -->
      <div *ngIf="partidoId != 0" class="form-group row">
        <div class="col-md-6">
          <table class="table">
            <thead class="thead-ligth">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Goles</th>
                <th scope="col">
                  <i class="fa fa-square tarjeta-amarilla"></i>
                </th>
                <th scope="col"><i class="fa fa-square tarjeta-roja"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jugador of jugadoresEquipo1; let i = index">
                <td scope="row">
                  {{ jugador.nombre }} {{ jugador.apellidoPaterno }}
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="numeroDeGoles-{{ jugador.id }}"
                    placeholder="Gol"
                    #golesJugador="ngModel"
                    [(ngModel)]="jugador.numeroDeGoles"
                    name="numeroDeGoles-{{ jugador.id }}"
                    [value]="0"
                  />
                </td>
                <td class="">
                  <input
                    class="form-check-input tarjetas-check"
                    type="checkbox"
                    id="tarjetaAmarilla-{{ jugador.id }}"
                    #tarjetaAmarilla="ngModel"
                    [(ngModel)]="jugador.isAmonestado"
                    name="tarjetaAmarilla-{{ jugador.id }}"
                  />
                </td>
                <td class="">
                  <input
                    class="form-check-input tarjetas-check"
                    type="checkbox"
                    id="tarjetaRoja-{{ jugador.id }}"
                    #tarjetaRoja="ngModel"
                    [(ngModel)]="jugador.isExpulsado"
                    name="tarjetaRoja-{{ jugador.id }}"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table">
            <thead class="thead-ligth">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Goles</th>
                <th scope="col">
                  <i class="fa fa-square tarjeta-amarilla"></i>
                </th>
                <th scope="col"><i class="fa fa-square tarjeta-roja"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jugador of jugadoresEquipo2; let i = index">
                <td scope="row">
                  {{ jugador.nombre }} {{ jugador.apellidoPaterno }}
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="numeroDeGoles-{{ jugador.id }}"
                    placeholder="Gol"
                    #golesJugador="ngModel"
                    [(ngModel)]="jugador.numeroDeGoles"
                    name="numeroDeGoles-{{ jugador.id }}"
                  />
                </td>
                <td class="">
                  <input
                    class="form-check-input tarjetas-check"
                    type="checkbox"
                    id="tarjetaAmarilla-{{ jugador.id }}"
                    #tarjetaAmarilla="ngModel"
                    [(ngModel)]="jugador.isAmonestado"
                    name="tarjetaAmarilla-{{ jugador.id }}"
                  />
                </td>
                <td class="">
                  <input
                    class="form-check-input tarjetas-check"
                    type="checkbox"
                    id="tarjetaRoja-{{ jugador.id }}"
                    #tarjetaRoja="ngModel"
                    [(ngModel)]="jugador.isExpulsado"
                    name="tarjetaRoja-{{ jugador.id }}"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group row btn-row">
        <div class="offset-md-5 col-3">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-primary">
              <i class="far fa-save"></i> Guardar
            </button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" (click)="deletePartido()" class="btn btn-danger">
              <i class="far fa-trash-alt"></i> Borrar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
