.main-container {
    padding-left: 200px;
    padding-right: 200px;
  }
  .header-container {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .tarjetas-check{
    margin: inherit;
  }
  .btn-row, .checkbox-row{
    padding-top: 10px;
  }