<app-navigation></app-navigation>
<div class="main-container">
  <div class="header-container text-center">
    <p class="h2">{{ title }}</p>
  </div>
  <div class="partidos-container">
    <div
      *ngFor="let partido of partidosByEquipo; let i = index"
      class="card border-dark mb-3"
    >
      <div class="card-header border-dark">
        <div class="d-flex justify-content-between">
          <p class="h6">{{ partido.jornada.descripcion }}</p>
          <a [ngClass]="partido.ganadorId || partido.empate ? 'jugado':'pendiente'" href="" [routerLink]="['/partido', partido.id]"
            ><i class="fa fa-eye"></i
          ></a>
        </div>
      </div>
      <div class="card-body text-center">
        <div class="d-flex justify-content-center">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item ">
              <p class="h6">
                <a [ngClass]="partido.ganadorId || partido.empate ? 'jugado':'pendiente'" href="" [routerLink]="['/jugador', partido.equipo1.id]">{{
                  partido.equipo1.nombre
                }}</a>
              </p>
            </li>
            <li *ngIf="partido.ganadorId || partido.empate" class="list-group-item">
              <p class="h6">
                {{ partido.golesEquipo1 }}
              </p>
            </li>
            <li class="list-group-item">
              <p class="h6">vs</p>
            </li>
            <li *ngIf="partido.ganadorId || partido.empate" class="list-group-item">
              <p class="h6">
                {{ partido.golesEquipo2 }}
              </p>
            </li>
            <li class="list-group-item">
              <p class="h6">
                <a [ngClass]="partido.ganadorId || partido.empate ? 'jugado':'pendiente'" href="" [routerLink]="['/jugador', partido.equipo2.id]">{{
                  partido.equipo2.nombre
                }}</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
