<app-navigation></app-navigation>
<div class="main-container">
  <div class="header-container">
    <p class="h2">{{ title }}</p>
    <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
      {{ errorMsg }}
      <button
        type="button"
        class="close"
        (click)="isError = false"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group" role="group" aria-label="First group">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ titleDrpLiga }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
            *ngFor="let liga of ligas; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getJornadasByLiga(liga.id, liga.nombre)"
          >
            {{ liga.nombre }}
          </button>
        </div>
      </div>
      <div *ngIf="jornadasDropdown?.length > 0" class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ titleDrpJornada }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
          class="dropdown-item"
          type="button"
          (click)="restoreJornadas()"
          >Jornadas Completas</button>
          <button
            *ngFor="let jornada of jornadasDropdown; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getJornadaById(jornada.id)"
          >
            {{ jornada.descripcion }}
          </button>
        </div>
      </div>
    </div>
    <div class="input-group">
      <a href="" [routerLink]="['/jornada-forma']">
        <button type="button" class="btn btn-primary">
          <i class="far fa-plus-square"></i> Crear Jornada
        </button>
      </a>
    </div>
  </div>
  <div class="text-center">
    <div *ngIf="isLoading" class="spinner-border text-secondary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!isLoading" class="jornadas-container">
    <div
      class="card border-dark mb-3"
      *ngFor="let jornada of jornadasByLiga; let i = index"
    >
      <h5 class="card-header border-dark">
        {{ jornada.descripcion }}
        <a href="" [routerLink]="['/jornada-forma', jornada.id]"
          ><i class="fa fa-edit"></i
        ></a>
      </h5>
      <div class="card-body">
        <h5 class="card-title">
          Jornada del {{ jornada.fechaInicio | date: "mediumDate" }} al
          {{ jornada.fechaFinal | date: "mediumDate" }}
        </h5>

        <div
          class="container text-center"
          *ngFor="let partido of jornada.partidos; let i = index"
        >
          <div class="row">
            <div class="col col-sm-3">
              {{ partido.equipo1.nombre }}
            </div>
            <div class="col col-sm-1">
              {{ partido.golesEquipo1 }}
            </div>
            <div class="col col-sm-1">
              vs
            </div>
            <div class="col col-sm-1">
              {{ partido.golesEquipo2 }}
            </div>
            <div class="col col-sm-3">
              {{ partido.equipo2.nombre }}
            </div>
            <div class="col col-sm-2">
              <span *ngIf="partido.ganadorId || partido.empate">{{ partido.fechaJuego | date: 'dd/MM/yyyy' }}</span>
            </div>
            <div class="col col-sm-1">
              <a href="" [routerLink]="['/partido', partido.id]"
                ><i class="fa fa-eye"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
