<div class="main-container">
  <div class="header-container">
    <p class="h2">{{title}}</p>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group" role="group" aria-label="First group">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{titleDrpLiga}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
            *ngFor="let liga of ligas; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getJornadasByLiga(liga.id, liga.nombre)"
          >
            {{ liga.nombre }}
          </button>
        </div>
      </div>
      <div  *ngIf="jornadasDropdown?.length > 0" class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{titleDrpJornada}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
            *ngFor="let jornada of jornadasDropdown; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getJornadaById(jornada.id)"
          >
            {{ jornada.descripcion }}
          </button>
        </div>
      </div>
    </div>
    <div class="input-group">
      <a href="" [routerLink]="['/jornada-forma']">
        <button type="button" class="btn btn-primary"><i class="far fa-plus-square"></i> Crear Jornada</button>
      </a>
    </div>
  </div>
  <div class="jornadas-container">
    <div
      class="card border-dark mb-3"
      *ngFor="let jornada of jornadasByLiga; let i = index"
    >
      <h5 class="card-header border-dark">
        {{ jornada.descripcion }}
        <a href="" [routerLink]="['/jornada-forma', jornada.id]"
          ><i class="fa fa-edit"></i
        ></a>
      </h5>
      <div class="card-body">
        <h5 class="card-title">
          Jornada del {{ jornada.fechaInicio | date: 'mediumDate'}} al {{ jornada.fechaFinal | date: 'mediumDate'}}
        </h5>

        <div
          class="container text-center"
          *ngFor="let partido of jornada.partidos; let i = index"
        >
          <div class="row">
            <div class="col-sm">
              {{ partido.equipo1.nombre }}
            </div>
            <div class="col-sm">
              {{ partido.golesEquipo1 }}
            </div>
            <div class="col-sm">
              vs
            </div>
            <div class="col-sm">
              {{ partido.golesEquipo2 }}
            </div>
            <div class="col-sm">
              {{ partido.equipo2.nombre }}
            </div>
            <div class="col-sm">
              <a href="" [routerLink]="['/partido', partido.id]"
                ><i class="fa fa-eye"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
