.main-container{
    padding-left: 100px;
    padding-right: 100px;
}
.header-container{
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.filters-container{
    padding-left: 50px;
    padding-right: 50px;
}
.jornadas-container{
    padding: 50px;
    padding-top: 20px;
}
div.dropdown{
    padding-right: 15px;
}