<div class="main-container">
  <div class="header-container">
    <p class="h2">Jornadas por Liga</p>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group" role="group" aria-label="First group">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Ligas
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Sabatina</a>
          <a class="dropdown-item" href="">Masculina Semanal</a>
          <a class="dropdown-item" href="">Femenina Semanal</a>
          <a class="dropdown-item" href="">Femenina Fin de Semana</a>
          <a class="dropdown-item" href="">Masculina Semanal</a>
        </div>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Jornadas
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="">Jornada 1</a>
          <a class="dropdown-item" href="">Jornada 2</a>
          <a class="dropdown-item" href="">Jornada 3</a>
          <a class="dropdown-item" href="">Jornada 4</a>
          <a class="dropdown-item" href="">Jornada 5</a>
        </div>
      </div>
    </div>
    <div class="input-group">
      <a href="" [routerLink]="['/jornada-forma']">
        <button type="button" class="btn btn-primary"><i class="far fa-plus-square"></i> Crear Jornada</button>
      </a>
    </div>
  </div>
  <div class="jornadas-container">
    <div
      class="card border-dark mb-3"
      *ngFor="let jornada of jornadas; let i = index"
    >
      <h5 class="card-header border-dark">
        {{ jornada.Descripcion }}
        <a href="" [routerLink]="['/jornada-forma', jornada.Id]"
          ><i class="fa fa-edit"></i
        ></a>
      </h5>

      <div class="card-body">
        <h5 class="card-title">
          Jornada del {{ jornada.FechaInicio | date: "dd/MM/yyyy" }} al
          {{ jornada.FechaFinal | date: "dd/MM/yyyy" }}
        </h5>

        <div
          class="container text-center"
          *ngFor="let partido of jornada.Partidos; let i = index"
        >
          <div class="row">
            <div class="col-sm">
              {{ partido.Equipo1 }}
            </div>
            <div class="col-sm">
              {{ partido.GolesEquipo1 }}
            </div>
            <div class="col-sm">
              vs
            </div>
            <div class="col-sm">
              {{ partido.GolesEquipo2 }}
            </div>
            <div class="col-sm">
              {{ partido.Equipo2 }}
            </div>
            <div class="col-sm">
              <a href="" [routerLink]="['partido', partido.Id]"
                ><i class="fa fa-eye"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
