.main-container{
    padding-left: 200px;
    padding-right: 200px;
}
.header-container{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;;
}
.filters-container{
    padding-left: 50px;
}
.equipos-container{
    padding: 50px;
    max-height: 1000px;
}