<div class="main-container">
  <div class="header-container">
    <p class="h2">{{title}}</p>
  </div>
  <div class="btn-toolbar justify-content-between filters-container">
    <div class="btn-group">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{titleDrp}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
          *ngFor="let liga of ligas; let i = index"
          class="dropdown-item"
          type="button"
          (click)="getEquiposByLiga(liga.id)"
        >
          {{ liga.nombre }}
        </button>
        </div>
      </div>
    </div>
    <div class="input-group">
      <a href="" [routerLink]="['/equipo-forma']">
        <button type="button" class="btn btn-primary"><i class="far fa-plus-square"></i> Crear Equipo</button>
      </a>
    </div>
  </div>

  <div class="equipos-container table-responsive text-center">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Nombre</th>
          <th scope="col">Capitan</th>
          <th scope="col">Telefono Contacto</th>
          <th scope="col">Comentarios</th>
          <th scope="col">Goles a Favor</th>
          <th scope="col">Goles en Contra</th>
          <th scope="col">Jugadores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equiposByLiga; let i = index">
          <td>
            <a href="" [routerLink]="['/equipo-forma', equipo.id]"
              ><i class="fa fa-edit"></i
            ></a>
          </td>
          <td>{{ equipo.nombre }}</td>
          <td>{{ equipo.capitan }}</td>
          <td>{{ equipo.telefonoContacto }}</td>
          <td>{{ equipo.comentarios }}</td>
          <td>{{ equipo.golesFavor }}</td>
          <td>{{ equipo.golesContra }}</td>
          <td>
            <a href="#" [routerLink]="['/jugador',equipo.id]"
              ><i class="fa fa-male"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
