.main-container{
    padding-left: 100px;
    padding-right: 100px;
}
.header-container{
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 30px;;
}
.filters-container{
    padding-left: 50px;
}
.equipos-container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}