<div class="main-container">
  <div class="header-container">
    <p class="h2">{{ title }}</p>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group" role="group" aria-label="First group">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{nombreLiga}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
            *ngFor="let liga of ligas; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getEquiposByLiga(liga.Id, liga.Nombre)"
          >
            {{ liga.Nombre }}
          </button>
        </div>
      </div>
      <div *ngIf="equiposByLiga?.length > 0" class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{nombreEquipo}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button
            *ngFor="let equipo of equiposByLiga; let i = index"
            class="dropdown-item"
            type="button"
            (click)="getJugadoresByEquipo(equipo.Id)"
          >
            {{ equipo.Nombre }}
          </button>
        </div>
      </div>
    </div>
    <div class="input-group">
      <a href="" [routerLink]="['/jugador-forma']">
        <button type="button" class="btn btn-primary">
          <i class="far fa-plus-square"></i> Crear Jugador
        </button>
      </a>
    </div>
  </div>
  <div id="jugadores-container" class="table-responsive text-center">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Edad</th>
          <th scope="col">Numero Playera</th>
          <th scope="col">Posicion</th>
          <th scope="col">Supendido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of jugadoresByEquipo; let i = index">
          <td>
            <a href="" [routerLink]="['/jugador-forma', jugador.Id]"
              ><i class="fa fa-edit"></i
            ></a>
          </td>
          <td>{{ jugador.Nombre }}</td>
          <td>{{ jugador.ApellidoPaterno }} {{ jugador.ApellidoMaterno }}</td>
          <td>{{ jugador.Edad }}</td>
          <td>{{ jugador.Numero }}</td>
          <td>{{ jugador.Posicion }}</td>
          <td>{{ jugador.Suspendido ? "Si" : "No" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
