<div class="main-container">
    <div class="header-container">
        <p class="h2">Jugadores de "Equipo Seleccionado"</p>
    </div>
    <div class="btn-toolbar justify-content-between filters-container" role="toolbar"
        aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ligas
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="">Sabatina</a>
                    <a class="dropdown-item" href="">Masculina Semanal</a>
                    <a class="dropdown-item" href="">Femenina Semanal</a>
                    <a class="dropdown-item" href="">Femenina Fin de Semana</a>
                    <a class="dropdown-item" href="">Masculina Semanal</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Equipos
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="">Juventus</a>
                    <a class="dropdown-item" href="">Barcelona</a>
                    <a class="dropdown-item" href="">Real Madrid</a>
                    <a class="dropdown-item" href="">Manchester United</a>
                    <a class="dropdown-item" href="">Bayern Munich</a>
                </div>
            </div>
        </div>
        <div class="input-group">
            <a href="" [routerLink]="['jugador-forma']">
                <button type="button" class="btn btn-primary">Crear Jugador</button>
            </a>

        </div>
    </div>
    <div id="jugadores-container" class="table-responsive text-center">
        <table class="table table-hover table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Numero Playera</th>
                    <th scope="col">Posicion</th>
                    <th scope="col">Supendido</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="" [routerLink]="['/jugador-forma']">Editar</a></td>
                    <td>Alan</td>
                    <td>Frias</td>
                    <td>32 años</td>
                    <td>1</td>
                    <td>Portero</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="" [routerLink]="['jugador-forma']">Editar</a></td>
                    <td>Jorge</td>
                    <td>Treviño</td>
                    <td>33 años</td>
                    <td>11</td>
                    <td>Medio</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="" [routerLink]="['jugador-forma']">Editar</a></td>
                    <td>Luis</td>
                    <td>Miramontes</td>
                    <td>300 años</td>
                    <td>7</td>
                    <td>Defensa</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="" [routerLink]="['jugador-forma']">Editar</a></td>
                    <td>Abraham</td>
                    <td>Contreras</td>
                    <td>33 años</td>
                    <td>4</td>
                    <td>Defensa</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="" [routerLink]="['jugador-forma']">Editar</a></td>
                    <td>Hugo</td>
                    <td>Gonzalez</td>
                    <td>29 años</td>
                    <td>13</td>
                    <td>Defensa</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="" [routerLink]="['jugador-forma']">Editar</a></td>
                    <td>Alexis</td>
                    <td>Juarez</td>
                    <td>27 años</td>
                    <td>21</td>
                    <td>Medio</td>
                    <td>Si</td>
                </tr>
                <tr>
                    <td><a href="" [routerLink]="['jugador-forma']">Editar</a></td>
                    <td>Trino</td>
                    <td>Fajardo</td>
                    <td>32 años</td>
                    <td>2</td>
                    <td>Defensa</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td><a href="" [routerLink]="['jugador-forma']">Editar</a></td>
                    <td>Victor</td>
                    <td>Espiritu</td>
                    <td>29 años</td>
                    <td>10</td>
                    <td>Medio</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>