.main-container{
    padding-left: 100px;
    padding-right: 100px;
}
.header-container{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;;
}
.filters-container{
    padding-left: 50px;
    padding-right: 50px;
}
#jugadores-container{
    padding-right: 50px;
    padding-top: 30px;
    padding-left: 50px;

}
div.dropdown{
    padding-right: 15px;
}