<div class="main-container">
  <div class="header-container">
    <p class="h1">SoccerLife Bajio</p>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group" role="group" aria-label="First group"></div>
    <div class="input-group">
      <a href="" [routerLink]="['liga-forma']">
        <button type="button" class="btn btn-primary">Crear Liga</button>
      </a>
    </div>
  </div>
  <div id="ligas-container" class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Costo</th>
          <th scope="col">Dias de Semana</th>
          <th scope="col">Ubicacion</th>
          <th scope="col">Equipos</th>
          <th scope="col">Tabla General</th>
          <th scope="col">Jornadas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let liga of ligas; let i = index">
          <th scope="row">{{liga.Id}}</th>
          <td><a href="" [routerLink]="['liga-forma',liga.Id]">{{liga.Nombre}}</a></td>
          <td>{{liga.Costo}} $</td>
          <td>{{liga.DiasDeSemana}}</td>
          <td>{{liga.Ubicacion.Nombre}}</td>
          <td><a href="#" [routerLink]="['/equipo']">Equipos</a></td>
          <td><a href="#" [routerLink]="['/tabla-general']">Tabla</a></td>
          <td><a href="" [routerLink]="['/jornada']">Jornadas</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
