#ligas-container{
    padding: 50px;
    max-height: 1000px;
}
.main-container{
    padding-left: 200px;
    padding-right: 200px;
}
.header-container{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
.filters-container{
    padding-left: 50px;
    padding-right: 50px;
}