<app-navigation></app-navigation>
<div class="main-container">
  <div class="header-container">
    <p class="h2">SoccerLife Bajio</p>
    <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
      {{ errorMsg }}
      <button
        type="button"
        class="close"
        (click)="isError = false"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div
    class="btn-toolbar justify-content-between filters-container"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group" role="group" aria-label="First group"></div>
    <div class="input-group">
      <a href="" [routerLink]="['liga-forma']">
        <button type="button" class="btn btn-primary"><i class="far fa-plus-square"></i> Crear Liga</button>
      </a>
    </div>
  </div>
  <div id="ligas-container" class="table-responsive text-center">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th scope="col">Nombre</th>
          <th scope="col">Costo</th>
          <th scope="col">Dias de Semana</th>
          <th scope="col">Ubicacion</th>
          <th scope="col">Equipos</th>
          <th scope="col">Tabla General</th>
          <th scope="col">Jornadas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let liga of ligas; let i = index">
            <td>
                <a href="" [routerLink]="['liga-forma',liga.id]"
                  ><i class="fa fa-edit"></i
                ></a>
              </td>
          <td>{{liga.nombre}}</td>
          <td>{{liga.costo}} $</td>
          <td>{{liga.diasDeSemana}}</td>
          <td>{{liga.ubicacion}}</td>
          <td><a href="#" [routerLink]="['/equipo',liga.id]"><i class="fa fa-users"></i></a></td>
          <td><a href="#" [routerLink]="['/tabla-general',liga.id]"><i class="fa fa-table"></i></a></td>
          <td><a href="" [routerLink]="['/jornada/liga',liga.id]"><i class="fa fa-calendar" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
